
<div class="ourpackages">

<h2 style="text-align:center">Our Packages</h2>
<div class="row">
  <div class="column">
    <div class="card">
     
      <div class="container">
        <h2 style="text-align:center">Basic</h2>
        <p class="title">15,000 KES</p>
        <ol>
            <li>1-5 Pages</li>
            <li>Basic Web Forms</li>
            <li>1 Month Support</li>
            <li>1</li>
            <li></li>
        </ol>
        <p>janeexample.com</p>
        <p><button class="button">Get this plan</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      
      <div class="container">
        <h2 style="text-align:center">Pro</h2>
        <p class="title">25,000 KES</p>
        <ol>
            <li>5-10 Pages</li>
            <li>Basic Web Forms</li>
            <li>3 Months Support</li>
            <li>Social Media Links </li>
            <li> </li>
        </ol>
        <p>mikeexample.com</p>
        <p><button class="button">Get this plan</button></p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
    
      <div class="container">
        <h2 style="text-align:center">Premium</h2>
        <p class="title">50,000 KES</p>
        <ol>
            <li>Ulimited Web Pages</li>
            <li>Customizable Web Forms</li>
            <li>Premium Support</li>
            <li>SEO OPtimization</li>
            <li>Social Media Links</li>
        </ol>
        <p>johnexample.com</p>
        <p><button class="button">Get this plan</button></p>
      </div>
    </div>
  </div>
</div>


   
</div>