.footer{
    position: sticky;
    top:100%;
    bottom: 0%;
    background-color: cadetblue;
    padding: 15px 20px;
    width: 100%;
    height: auto;
    overflow: hidden;
    text-align: right;
}
li{
    padding: o.5rem;
    list-style: none;
}