.footer{
    position: sticky;
    top:100%;
    bottom: 0%;
    background-color: rgb(3, 20, 20);
    padding: 15px 20px;
    width: auto;
    height: auto;
    overflow: hidden;
    text-align: right;
    color: gainsboro;
    font-family: cursive;
}
.container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 1px;
  }
  .container > div {
    
    padding: 10px;
    font-size: 15px;
    text-align: center;
  }