/* company name & logo edits */
.coname{
  font-size: 30px;
  font-family:cursive;
  color: transparent;
  -webkit-text-stroke: 1px rgb(15, 2, 27);
}
.example-spacer {
  flex: 1 1 auto;
}

/* top navigation styles */
  .topnav {
    font-style:italic;
    font-family: cursive;
    font-stretch: extra-condensed;
    font-size: 15;
    overflow: hidden;
    padding-bottom: 0%;

  }

/* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #020203;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
/* Change the color of links on hover */
  .topnav a:hover {
    background-color: #0a0629;
    color: rgb(216, 221, 236);
    border-radius: 20px;
  }
/* Add a color to the active/current link */
  .topnav a.active {
   
    color: white;
  }


