<body>
  
  
    <mat-toolbar>
     
      <div class="coname">
        <span><a routerLink="/home" >Kamaso Bits Solutions</a></span>
      </div>
       
      <span class="example-spacer"></span>
     <!--
         <div class="topnav">
         <a routerLink="/ourpacakges" >Our Packages</a>
         <a routerLink="/projects" >Projects</a>
         <a routerLink="/aboutus" >About Us</a>
       </div> 
      -->

<a class="anchor" name="nav-4"></a>
<section class="nav-4">
 
  <nav>
    <a class="item" routerLink="/ourpacakges">
      <div class="linktext">Our Packages</div>
    </a>
    <a class="item" routerLink="/projects" >
      <div class="linktext">Projects</div>
    </a>
    <a class="item"routerLink="/aboutus" >
      <div class="linktext">About Us</div>
  </a>
  <a class="item" href="#nav-4">
    <div class="linktext">Contact</div>
</a>
  </nav>
  
</section>
    </mat-toolbar>
    
   
       
 
  </body>
  
