.example-spacer {
    flex: 1 1 auto;
  }

/* Add a black background color to the top navigation */
  .topnav {
    font-style: italic;
    background-color: #fff;
    overflow: hidden;
  }

/* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #da5b21;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
/* Change the color of links on hover */
  .topnav a:hover {
    background-color: #d4872f;
    color: black;
  }
/* Add a color to the active/current link */
  .topnav a.active {
   
    color: white;
  }

.navbar{
  align-content: center;
  padding: 0%;
  border: 1px solid yellowgreen;
  border-radius: 10px;
  max-width: 80%;
  ;
}
.navbar ul{
  display: flex;
}

.navbar ul li{
list-style-type: none;
padding: 1vw;
margin-left: 15%;
}

.navbar{
  text-decoration: none;
  color: aqua;
  font-size: 100%;
  
}