<body><mat-toolbar>
   <span> <img src=" assets/images/mylogo2.png"> </span>
    <span><a class="active" href="#home">Kamaso Bits</a></span>
  
    <span class="example-spacer"></span>

    <div class="topnav">
    
      <a href="#service">Services</a>
      <a href="#contact">Contact</a>
      <a href="#about">About</a>
    </div> 
 
   
  </mat-toolbar>
 

    <nav class=" navbar">
      <ul>
        <li>Projects</li>
        <li>Services</li>
        <li>About Us</li>
        <li>Contacts</li>
      </ul>
    </nav>
  </body>
  
