

 <div class="aboutus">
    <h1>About Us</h1>

    <div class="container">
        
        <div>Websites & Web Apps
            <p>We develop websites an web apps with the latest technologies for best servises renering which are robust ad user friendly</p>
        </div>
        <div>Software Development & Installations
            <p>We develop websites an web apps with the latest technologies for best servises renering which are robust ad user friendly</p></div>
        <div>Program Developments
            <p>We develop websites an web apps with the latest technologies for best servises renering which are robust ad user friendly</p>
        </div>  
        <div>Consultancy
            <p>We develop websites an web apps with the latest technologies for best servises renering which are robust ad user friendly</p>
        </div>
        <div>Repairs & Diagnostics
            <p>We develop websites an web apps with the latest technologies for best servises renering which are robust ad user friendly</p>
        </div>
        <div>Network Configurations
            <p>We develop websites an web apps with the latest technologies for best servises renering which are robust ad user friendly</p>
        </div>  
       
      </div>


 </div>  

   

  

