
  
  
  h1{
    font-size: 20px;
    font-family:cursive;
    text-align: center;

  }
  .aboutus{
 
    display: grid;
    background-color: rgb(232, 243, 243);
    padding-top: 0%;
    height: 500px;
    font-size: 20px;
    border:10px;
    
   
}
.container{
  display: grid;
}
.lifecycle-container {
  width: 300px;
  margin: 50px auto;
  border: 2px solid #3498db; /* Optional: Container border */
  border-radius: 8px; /* Optional: Rounded corners */
  overflow: hidden; /* Prevent content from overflowing rounded corners */
}

.lifecycle-stage {
  padding: 15px;
  border-bottom: 1px solid #ccc; /* Separator between stages */
}

/* Remove border from the last stage */
.lifecycle-stage:last-child {
  border-bottom: none;
}

.stage-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.stage-description {
  font-size: 14px;
  color: #666;
}
