.header-background{
 
    display: grid;
    background-color: aliceblue;
    padding-top: 0%;
    align-items: center;
    height: 400px;
    font-size: 20px;
    font-family:cursive;
    color: transparent;
    -webkit-text-stroke: 1px rgb(15, 2, 27);
}

.header-headline{
    justify-content: center;
    text-align: center;
    color: #0a0629;


}