<div class="stars"></div>
<div class="shooting-star"></div>
<div class="shooting-star"></div>
<div class="shooting-star"></div>
<div class="shooting-star"></div>
<div class="shooting-star"></div>
    <header class="header-background">

   
    <div class="header-headline">
        <div class="wave-container">
            <h1 class="wave-text">
                <span>D</span>
                <span>i</span>
                <span>g</span>
                <span>i</span>
                <span>t</span>
                <span>a</span>
                <span>l</span>
                
                <span>B</span>
                <span>i</span>
                <span>t</span>
                 <span>s</span>
                
                 <span>S</span>
                 <span>o</span>
                 <span>l</span>
                 <span>u</span>
                 <span>t</span>
                 <span>i</span>
                 <span>o</span>
                 <span>n</span>
                 <span>s</span>
            </h1>
    </div>
        
    <p class="cursor typewriter-animation">We Build Robust, Seamless Digital Products.</p>

    <h2 >Best Tech Solutions - Just for You</h2>  
   
        



        <a href="#" class="button"><b>Get Started</b></a>
    </div>
    </header>
  
   
    <div class="packages">
        <app-ourpacakges></app-ourpacakges>
    </div>

<div class="aboutus">
    <app-aboutus></app-aboutus>
</div>

  <div class="footer">
    <app-footer></app-footer>
   </div>
   
    



